*{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgba(0, 6, 7, 0.842);
}

.header{
height: 18vh;
display: flex;
justify-content: space-around;
align-items: center;
background: hsla(0, 0%, 100%, 1);

background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(133, 93%, 78%, 1) 92%, hsla(205, 100%, 86%, 1) 100%, hsla(174, 100%, 83%, 1) 100%, hsla(165, 20%, 59%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(133, 93%, 78%, 1) 92%, hsla(205, 100%, 86%, 1) 100%, hsla(174, 100%, 83%, 1) 100%, hsla(165, 20%, 59%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(133, 93%, 78%, 1) 92%, hsla(205, 100%, 86%, 1) 100%, hsla(174, 100%, 83%, 1) 100%, hsla(165, 20%, 59%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#94fbab", GradientType=1 );
}

.logo{

    height: 100%;
}

.list-nav{
   
    list-style: none;
    display: flex;
    gap: 20px;

}
.a-nav{
    font-weight: bold;
}
