*{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: rgba(0, 6, 7, 0.842);
}

.header{
height: 18vh;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #F35B04;
}

.logo{

    height: 110%;
}

.list-nav{
   
    list-style: none;
    display: flex;
    gap: 20px;

}
.a-nav{
    font-weight: bold;
}

.section1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #F35B04;
}
.section1 button{
    width: 70%;
    height: 50px;
    background-color: #141313;
    border-radius: 10px;
    border-style: none;
    color:#F35B04;
    margin-top: 30px;
}
.section2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #F35B04;
    margin-top: 10px;

}
.titulo{
    justify-content: center;
    display: flex;
}
.titulo p{
    width: 50%;
    justify-content: center;
    display: flex;
}